.content {
    height: 100vh;
    padding-top: 75px;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Button {
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    border-radius: 35px;
    display: inline-block;
    height: 8vh;
    font-size: 25px;
    text-align: center;
    border: none;
    outline: none;
    width: 20vw;
    background-color: #FA595B;
    color: white;
}

@media (max-width:600px) {
    .content {
        height: 100vh;
        padding-top: 75px;
        display: flex;
        justify-content: center;
    }
    .Button {
        width: 80vw;
    }
}