.InputDuplo {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 45vw;
    justify-content: space-between;
}

.InputGroup {
    display: flex;
    align-items: center;
    padding: 14px;
    background-color: white;
    height: 65px;
    border-radius: 25px;
    border: 1px solid grey;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 45vw;
}

.InputGroupSmall {
    display: flex;
    align-items: center;
    padding: 14px;
    background-color: white;
    height: 65px;
    border-radius: 25px;
    border: 1px solid grey;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 22vw;
}

.Input {
    width: 100%;
    padding-left: 5px;
    height: 28px;
    font-size: 20px;
    display: inline-block;
    margin: 0;
}

.Input,
.Input:focus {
    outline: 0;
    box-shadow: none;
    border: none;
    background: none;
}

.Label {
    text-transform: uppercase;
    font-weight: bold;
}

@media (max-width:600px) {
    .content {
        height: 100vh;
        padding-top: 75px;
        display: flex;
        justify-content: center;
    }
    .InputDuplo {
        align-items: center;
        flex-direction: column;
        width: 80vw;
    }
    .InputGroup {
        width: 80vw;
    }
    .InputGroupSmall {
        width: 80vw;
    }
}