@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

/* NAV */

.Logo {
    height: 40px;
}

.LogoNav {
    display: none;
}

.nav {
    position: fixed;
    background-color: #FA595B;
    width: 100%;
    height: 70px;
    box-shadow: (rgb(110, 110, 110) 0px 0px 5px);
    z-index: 99;
    display: flex;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    justify-content: space-between;
    display: flex;
    height: 70px;
    width: 100vw;
    padding: 0px 15px 0px 15px;
    align-items: center;
}

.nav>.nav-links>a {
    font-size: 25px;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: white;
}

.nav>.nav-links>a:hover,
.active {
    color: grey;
}

.nav>#nav-check {
    display: none;
}

/* NAV */

@media (max-width:600px) {
    .LogoNav {
        display: flex;
        height: 30px;
        padding-left: 15px;
        flex-direction: row;
    }
    .nav {
        height: 70px;
        align-items: center;
    }
    .nav>.nav-btn {
        display: flex;
        position: absolute;
        right: 0px;
        top: 15px;
        width: 100vw;
        justify-content: space-between;
        align-items: center;
    }
    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 8px;
    }
    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid white;
    }
    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #FA595B;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 70px;
        left: 0px;
    }
    .nav>.nav-links>a {
        display: block;
        width: 100%;
        color: white;
    }
    .nav>.nav-links>.Logo {
        display: none;
    }
    .nav>#nav-check:not(:checked)+.nav-links {
        height: 0px;
    }
    .nav>#nav-check:checked+.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}